*{
    margin: 0;
    padding: 0;
}

body{ 
background-color: #e2ad81;
}

.loader{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    margin: 6px;
    border: 30px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: load 1.2s  infinite;
}

@keyframes load {
    0% {
transform: rotate(0);
animation-timing-function: cubic-bezier(0.55,0.05, 0.675, 0.19);
    }
    50%{
transform: rotate(900deg);
animation-timing-function: cubic-bezier(0.215,0.61, 0.355, 0.19);
    }
    100%{
transform: rotate(1800deg);
    }
}